services:
  postgres:
    image: postgres:16
    container_name: holliverse-postgres
    environment:
      POSTGRES_DB: holliverse
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
