spring:
  application:
    name: holliverse-api-server

  profiles:
    default: customer

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Seoul

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas:

server:
  port: 8080


management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true


logging:
  level:
    root: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql: WARN